name: PR Tests

# プルリクエストが作成、更新、または再オープンされたときにトリガー
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # リポジトリをチェックアウト
      - name: Checkout
        uses: actions/checkout@v5

      # uv をインストール
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      # Python をセットアップ
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      # 必要な依存関係をインストール
      - name: Install dependencies
        run: uv sync --all-extras

      # テストを実行
      - name: Build Sphinx
        run: |
          cd docs
          uv run make dirhtml
