name: Update Changelog


on:
  schedule:
    - cron: "0 0 * * 1"  # 毎週月曜日の午前0時（UTC）に実行
  workflow_dispatch: # 手動トリガーを有効にする

jobs:
  update_changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # すべての履歴とタグを取得
      # uv をインストール
      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "latest"

      # Python をセットアップ
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      # Changelog を更新
      - name: Update Changelog
        run: uvx commitizen changelog --incremental
      - name: Commit Changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git config --global user.name "GitHub Actions"
            git add CHANGELOG.md
            git commit -m "chore: update changelog [skip ci]"
            git push origin main
          else
            echo "No changes in CHANGELOG.md Skipping commit."
          fi
